@model dynamic

@{
    ViewBag.Title = "Exits";
    Layout = ViewBag.Layout;
}
<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Verify Exits";

    scrudFactory.viewAPI = "/api/views/hrm/exit-scrud-view";
    scrudFactory.viewTableName = "hrm.exit_scrud_view";

    scrudFactory.formAPI = "/api/forms/hrm/exit";
    scrudFactory.formTableName = "hrm.exits";
    scrudFactory.hasVerfication = true;

    scrudFactory.excludedColumns = ["Photo"];
    $.get('/ScrudFactory/View.html', function (view) {
        $("#ScrudFactoryView").html(view);
        $.cachedScript("/assets/js/scrudfactory-view.js");
    });
</script>

<div id="ScrudFactoryView"></div>
