@model dynamic

@{
    ViewBag.Title = "Employee Types";
    Layout = ViewBag.Layout;
}

<script>
	var scrudFactory = new Object();
    scrudFactory.title = "Employee Types";

    scrudFactory.viewAPI = "/api/views/hrm/employee-type-scrud-view";
    scrudFactory.viewTableName = "hrm.employee_type_scrud_view";

    scrudFactory.formAPI = "/api/forms/hrm/employee-types";
    scrudFactory.formTableName = "hrm.employee_types";

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;
    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs"];


    scrudFactory.live = "EmployeeTypeName";

    scrudFactory.card = {
        header: "employee_type_name",
        description: "employee_type_code"
    };


    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>
